

.App {
  text-align: center;
  background: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  background: linear-gradient(#badfe7, #badfe7);
  border-radius: 5px;
  box-shadow: 0px 0px 9px 8px #00000023;
  padding: 10px;
  padding-inline: 20px;
}
.card-body{
  /* background-color: #48687f; */
  color: #EEEEEE;
  border-radius: 10px;
  /* background: linear-gradient(#041562, #030925); */
  background: linear-gradient(#2c7277, #18343696);
    box-shadow: 0px 2px 10px 2px #48687f;
}

.heading1{
  /* linear-gradient(#000000cc,#5e0808,#5e0808,#000000cc); */
  color:#388087;
 font-family: fantasy;
 font-weight: lighter;
}
.card{
  
  border-radius: 10px;
 border: hidden;
 
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  
}
.card{
  background: linear-gradient(#000000cc,#070000);
}
.card.bg-danger{
  border: solid 1px red;
  box-shadow: 0px 1px 5px 1px red;
}

.card-body:hover{
  background: linear-gradient(#173335, #214547c2);
}



.btn-primary{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  font-weight: 500;
    background: #008080;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border:none;
    transition: all 0.5s ease;

}
.btn-primary:hover{
      transform:scale(1.1) ;
      background: #06d6d6dc;
      color: #4d4d4de6;
      /* font-weight: bold; */
      border:none;
      box-shadow:none;
    }



.btn-outline-success {
  border-radius:15px ;
  background: linear-gradient(#282828, #282828);
  color: 14a76c;
  margin-right: 8px;
border-color: #282828;

}
.btn-outline-success:hover {
  border-radius:15px ;
  background: #14a76c;
  color: white;
  margin-right: 8px;
border-color: #14a76c;
cursor: pointer;

}
.btn-outline-secondary {
  border-radius:15px ;
  background: linear-gradient(#282828, #282828);
  color: white;
  margin-right: 8px;
border-color: #282828;

}
.btn-outline-primary {
  
 
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  font-weight: 500;
    background: #008080;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border:none;
    transition: all 0.5s ease;

}
.btn-outline-primary:hover{
  transform:scale(1.1) ;
  background: #06d6d6dc;
  color: #4d4d4de6;
  /* font-weight: bold; */
}
.btn-outline-primary:focus,.btn-primary:focus{
  transform:scale(1.1) ;
  background: #06d6d6dc;
  color: #4d4d4de6;
  border:none;
  outline:none;
  box-shadow: none;
}

.btn-outline-danger{
  border-radius:20px ;
  color: #ff0000;
  background: #282828;
  border-radius:15px ;
  border-color: #282828;
}
.modal-header{
  background: none;

  border-radius: 10px;
  /* box-shadow: 0px 0px 2000px 600px  rgba(189, 179, 179, 0.089); */
  color: white;
}
.modal-content{
  border-radius: 10px;
  color: white;
  padding:20px;
  background: linear-gradient(#2c7277, #183436);
  /* background: linear-gradient(#badfe7, #badfe7); */

  /* background-blend-mode: darken; */
  box-shadow: 0px 1px 100px 30px  #000000;
}
/* .progress-bar.bg-primary{
  background: linear-gradient(#0d6efd);
}
.progress-bar.bg-warning{
  background: linear-gradient(#ffc107,#0a0900cc);
}
.progress-bar.bg-danger{
  background: linear-gradient(#000000cc,#ff0000,#000000cc);
} */

@media only screen and (min-width: 1025px) {
  .container {
    padding-inline: 50px;
  }
}
input{
  border-radius: 10px;

}

.text-muted{
  color: #ca8585e6;
}
.modal{

  color:none;
  background: none;

  /* background-blend-mode: darken; */
  box-shadow: 0px 1px 100px 30px  #000000;
}